<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'admin', media: 'all'%>
  <%= stylesheet_link_tag 'posts', media: 'all'%>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>