<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin' %> <!-- Loads admin manifest (app/assets/stylesheets/admin.css) into admin layout -->
  <%= stylesheet_link_tag 'posts' %> <!-- Loads CSS file app/assets/stylesheets/posts.css into admin layout -->
</head>
<body>

<%= yield %>

</body>
</html>
