<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  sdsd
   <%= stylesheet_link_tag 'admin' %>
   <%= stylesheet_link_tag 'posts' %>
  <%= csrf_meta_tags %>
  dfdfdf
</head>
<body>

<%= yield %>

</body>
</html>
