<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <link rel="stylesheet" href="/assets/application.css" /> 
  <%= stylesheet_link_tag 'posts' %>
  <%= stylesheet_link_tag 'application' %>
<%= yield %>

</body>
</html>
