<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %> <!-- Loads application manifest (app/assets/stylesheets/application.css) into the application layout -->

</head>
<body>

<%= yield %>

</body>
</html>
