<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
 <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" href="/assets/blogs.css" /> 
  <link rel="stylesheet" href="/assets/posts.css" /> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
