<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/main.css" />
  <link rel="stylesheet" href="/assets/blogs.css" />
  <link rel="stylesheet" href="/assets/posts.css" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>

</body>
</html>
